<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	
	<connectionStrings>
		<add name="SubSystem_Sign" connectionString="
			 Data Source=192.168.1.168\DESKTOP-UTIEK5D,1433;
			 Initial Catalog=Signature; 
			 User ID = 1Grts4zvjKtu4pFP2mYWACSrSIG/NQawUXEaC4J+aIA= ;
			 Password=EIaA0gs6+T5+cSVlGut4QG+CTg+atMWO3+o0UUt/pB0=;
			 Integrated Security=false"/>

		<add name="MainSystem" connectionString="
			 Data Source=192.168.1.115,55888\SQLEXPRESS;
			 Initial Catalog=HousePricePredit; 
			 User ID = 1Grts4zvjKtu4pFP2mYWACSrSIG/NQawUXEaC4J+aIA= ;
			 Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;
			 Integrated Security=false"/>
		<add name="Formal_MainSystem" connectionString="
			 Data Source=192.168.1.25,55888\SQLEXPRESS;
			 Initial Catalog=Signature; 
			 User ID = oVlHnimWv5mDFTUOpkA0EZrbM2DymmRGX1xbfd1kHOs= ;
			 Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;
			 Integrated Security=false"/>
	<add name="MailDB" connectionString="&#xD;&#xA;    Data Source=192.168.1.25,55888\SQLEXPRESS;&#xD;&#xA;    Initial Catalog=Signature; &#xD;&#xA;    User ID = oVlHnimWv5mDFTUOpkA0EZrbM2DymmRGX1xbfd1kHOs= ;&#xD;&#xA;    Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;&#xD;&#xA;    Integrated Security=false" />

	</connectionStrings>
	
</configuration>
